@model CommitRoot

<!-- To Do: Make this page more appealing and accessible from the home page.  As-is, it is only accessible by typing /Commit at the end of the adress.-->

<h1> Your generated commit is:</h1>

<h4>@Model.Commit</h4>
