@model CommitRoot

@{
    ViewData["Title"] = "";
}


<body>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Your generated Git commit is: </p>
    <p>@Model.Commit</p>
    <form method="post">
    <button onclick="window.location.reload();" class="btn btn-primary" name="generator">Generate another Git Commit</button>
        
    </form>
</div>
</body>